# Mend documentation https://docs.mend.io/bundle/unified_agent/page/unified_agent_configuration_parameters.html

excludes=**/*it-* **/*test*
includes=**/*.java **/*.js **/*.ts
fileSystemScan=False

maven.aggregateModules=True
maven.downloadMissingDependencies=False
maven.m2RepositoryPath=.m2/repository
maven.resolveDependencies=True
maven.runPreStep=False

npm.includeDevDependencies=False
npm.resolveDependencies=True
npm.resolveLockFile=False
npm.runPreStep=False
npm.yarnProject=True

case.sensitive.glob=false
archiveIncludes=**/*.jar

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=false